
<!DOCTYPE html>
<style>
.card {

		padding: 16px;
		text-align: center;
        display: inline-flex;	
        margin-top: 150px;
	}
form {
	margin-left: 50px;
}
.card:hover{
	background-color: #8bdaee;
	transform-style: preserve-3d;
	transform: scale(1.02);
	transition: all ease 0.3s;
}

</style>

<body style="background-image: url('bg.jpg');">
	<div class="row">
		
			<div class="column">
				<div class="card">
					<form>
							<button style="background-color:#48BF91;border-width: 2px;border-radius: 5px; float: right; margin-right: 50px;  width:209px;height: 30px;">edit PRODUCT</button><br><br><br>
							<input type="text" name="a" placeholder="Product Name" style="float: right; margin-right: 50px; width:200px;height: 30px;" ><br><br><br>
							<input type="text" name="b" placeholder="Product Price" style="float: right; margin-right: 50px; width:200px;height: 30px;" ><br><br><br>
							<input type="textarea" name="a1" rows="2" cols="50" placeholder="Product Description" style="float: right; margin-right: 50px; width:200px;height: 30px;"><br><br><br>
							<input type="text" name="c" placeholder="Image URL" style="float: right; margin-right: 50px; width:200px;height: 30px;" ><br><br><br>
							<input type="text" name="d" placeholder="Product Quantity" style="float: right; margin-right: 50px; width:200px;height: 30px;"><br><br><br>
							<button type="submit" value="edit" style="background-color:#48BF91; border-width: 2px;border-radius: 5px; width:99px ;float: right; margin-right:160px; height: 30px;" >Add</button>
						
					</form>
				</div>
			</div>
		
	</div>

</body>